.container {
  display: flex;
  flex-direction: column;
  width: 144px;
  max-height: 160px;
  gap: 2px;
  position: absolute;
  top: 30px;
  padding: 3px;
  overflow: auto;
}

.delete {
  position: absolute;
  top: 2px;
  left: 115px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
  background-color: var(--green);
  gap: 10px;
}

.selectedCard {
  background-color: var(--dwhite);
}

.card:hover {
  cursor: pointer;
}